name: Profile Summary Cards

on:
  schedule:
    - cron: "0 21 * * *"
  workflow_dispatch:

jobs:
  card-update:
    name: Card update 
    
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Generate summary cards
        uses: vn7n24fzkq/github-profile-summary-cards@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          USERNAME: ${{ github.repository_owner }}
